<?php
	defined("_DIRECT_ACCESS_CHECK") or exit();

	${DOLLAR}settings = [
		"site_title" => "${SITE_TITLE}",
		"return_full_url" => ${RETURN_FULL_URL},
		"max_secret_length" => ${MAX_SECRET_LENGTH},
		"announcement" => "${ANNOUNCEMENT}",
		'p